:root {
  --color-white: #fff;
  --color-off-white: #f1f3fa;
  --color-dark: #1d1f29;
  --color-navy: #252b42;
  --color-off-navy: #8c98c6;
  --color-navy-hover: #333a55;
  --color-grey: #aeb3cb;
  --color-grey-alt: #848bab;
  --color-dark-grey: #63687d;
  --color-grey-hover: #e1e4f0;
  --color-green: #1eb589;
  --color-red: #dc414c;

  --facebook: #178ff5;
  --twitter: #1da1f2;
  --instagram-start: #df4896;
  --instagram-middle: #ee877e;
  --instagram-end: #fdc366;
  --youtube: #c4032b;

  --toggle-start: #40db82;
  --toggle-end: #388fe7;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#dark {
  background-color: var(--color-dark);
}

#light {
  background-color: var(--color-white);
}

/* HEADER */

/* dark */
#dark .header h1 {
  color: var(--color-white);
}

#dark .header p,
#dark .header label {
  color: var(--color-off-navy);
}

#dark .header hr {
  border-color: var(--color-navy-hover);
}

#dark .header .dark-light-toggle {
  background: linear-gradient(225deg, var(--toggle-start) 0%, var(--toggle-end) 100%);
}

#dark .header .dark-light-toggle .toggle {
  left: 3px;
  background-color: var(--color-navy);
}

/* light */
#light .header h1 {
  color: var(--color-dark);
}

#light .header p,
#light .header label {
  color: var(--color-dark-grey);
}

#light .header hr {
  border-color: var(--color-grey-alt);
}

#light .header .dark-light-toggle {
  background-color: var(--color-grey);
}

#light .header .dark-light-toggle .toggle {
  right: 3px;
  background-color: var(--color-off-white);
}

/* FOLLOWERS & OVERVIEW */

.item small::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-style: solid;
}

.item small.positive {
  color: var(--color-green);
}

.item small.positive::before {
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent var(--color-green) transparent;
}

.item small.negative {
  color: var(--color-red);
}

.item small.negative::before {
  border-width: 4px 4px 0 4px;
  border-color: var(--color-red) transparent transparent transparent;
}

/* dark */
#dark .item.error p,
#dark .item.loading p {
  color: var(--color-white);
}

#dark .item {
  background-color: var(--color-navy);
}

#dark .item.link:hover {
  background-color: var(--color-navy-hover);
}

#dark .item h2 {
  color: var(--color-white);
}

/* light */
#light .item.error p,
#light .item.loading p {
  color: var(--color-dark);
}

#light .item {
  background-color: var(--color-off-white);
}

#light .item.link:hover {
  background-color: var(--color-grey-hover);
}

#light .item h2 {
  color: var(--color-dark);
}

/* FOLLOWERS */

.follower-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
}

.follower-item.facebook::before {
  background: var(--facebook);
}

.follower-item.twitter::before {
  background: var(--twitter);
}

.follower-item.instagram::before {
  background: linear-gradient(90deg, var(--instagram-start) 0%, var(--instagram-middle) 50%, var(--instagram-end) 100%);
}

.follower-item.youtube::before {
  background: var(--youtube);
}

/* dark */
#dark .follower-item span {
  color: var(--color-off-navy);
}

#dark .follower-item p {
  color: var(--color-off-navy);
}

/* light */
#light .follower-item span {
  color: var(--color-dark-grey);
}

#light .follower-item p {
  color: var(--color-dark-grey);
}

/* OVERVIEW */

/* dark */
#dark .overview h2 {
  color: var(--color-white);
}

#dark .overview-item h3 {
  color: var(--color-off-navy);
}

/* light */
#light .overview h2,
#light .overview h3 {
  color: var(--color-dark-grey);
}
